<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4><a href='/books'>Home</a></h4>
	<h4><a href='/logout'>Logout</a></h4>
	<h2>Title: {{book.title}}</h2>
	<h3>Author: {{book.author.name}}</h3>

	<h1>Reviews</h1>
	{% for review in reviews %}
	<h4>Rating: {{review.rating}}</h4>
	<h4><a href="/users/{{review.user.id}}">{{review.user.name}}</a> says: {{review.review}}</h4>
	<h4>Posted on {{review.created_at}}</h4><br>
	{% endfor %}

	<h1>Add a Review</h1>
	<form action='/addrating' method='POST'>
	{% csrf_token %}
		<label><textarea name='review'></textarea></label>
		<label>Rating:
			<select name='rating'>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select></label>
		<input type='hidden' value='{{book.id}}' name='book_id'>
		<input type='submit'>
	</form>
</body>
</html>