body{
  padding-top: 60px;
}
.bump{
  margin-top: 10px;
}
.bump2{
  margin-top: 25px;
}
.cartimg{
  margin: 0 auto;
}
th{
  text-align: center;
}
td{
  vertical-align: middle
  }.
pf{
  font-size: 1.75em;
}

/*.cardheight{
	height: 530px;
}*/